
mat-sidenav{

    background-color: rgb(255, 110, 0);;
    width: 200px;
    height: 100%;

}

mat-sidenav-container{
    margin:8px;
    position: inherit;
}

.login-as{
  // display:flex;
  // justify-content: flex-end;
  font-size: 12px;
  padding-top:12px;
  padding-right:8px
}

#menu-button{
  margin-left: 10px;
}

.container-flex{
  display: flex;
  justify-content: space-between;
}
// .un{
//   display: flex;
// }

.menu-and-log{
  display: flex;
}
.log{
  justify-content:flex-end
}


