
mat-sidenav{

    background-color: rgb(246, 117, 3);;
    width: 200px;
    height: 100%;

}

mat-sidenav-container{
    margin:8px;
    position: inherit;
}

.login-as{
  display:flex;
  justify-content: flex-end;
  font-size: 12px;
}

.menu-and-log{
  display: flex;
}
.log{
  justify-content:flex-end
}


