<mat-sidenav-container>

    <mat-sidenav
        #sidenav
        mode="over"
        hasBackdrop = "False"
        fixedInViewport = "fixe"
        fixedTopGap = 80
        fixedBottomGap = 70
        [(opened)]="opened"
        (opened)="events.push('open!')"
        (closed)="events.push('close!')"
        >

      <!-- <div> -->
        <mat-nav-list>
          <mat-list-item (click)="sidenav.toggle()">
            <div>
              <button
                    mat-icon-button
                    id="menu-button"
                    class="menu-button"
                    (click)="sidenav.toggle()"
                    tooltip-position="below"
                    matTooltipShowDelay="500"
                    matTooltip="Fermer menu">
                    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
                    Menu
                </button>
        </div>
          </mat-list-item>
        </mat-nav-list>

        <mat-nav-list>
          <mat-list-item (click)="onClicBackHome();sidenav.toggle()">
              <mat-icon matListIcon>home</mat-icon>
              Retour accueil
          </mat-list-item>
        </mat-nav-list>

        <mat-nav-list>
            <h1 matSubheader> Authentification </h1>
            <mat-list-item (click) = "onClicMenuLogin();sidenav.toggle()">
                <mat-icon  matListIcon>account_box</mat-icon>
                Login
            </mat-list-item>
        </mat-nav-list>

        <mat-nav-list *ngIf="!loginService.loggedAsAdmin">
            <h1 matSubheader>
                Banque photos
            </h1>
            <mat-list-item (click)="onClicOwnerCollection();sidenav.toggle()">
                <mat-icon matListIcon>kitchen</mat-icon>
                Ajouter photos ADN & cuisines à votre liste
            </mat-list-item>
        </mat-nav-list>

        <mat-nav-list>
            <mat-list-item (click)="onClicAddImg();sidenav.toggle()">
                <mat-icon matListIcon>add_photo_alternate</mat-icon>
                <!-- <mat-icon matListIcon>perm_media</mat-icon> -->
                    Ajouter vos photos à votre liste
                </mat-list-item>
        </mat-nav-list>

        <mat-nav-list>
          <mat-list-item (click)="onClicCustomList();sidenav.toggle()">
              <mat-icon matListIcon>list</mat-icon>
                  Ma liste d'images
              </mat-list-item>
        </mat-nav-list>

    </mat-sidenav>

    <!-- contenue menu ouvert -->
    <mat-sidenav-content>
        <button
            mat-icon-button
            id="menu-button"
            class="menu-button"
            (click)="sidenav.toggle()"
            matTooltip="Ouvrir menu">

            <mat-icon>menu</mat-icon>
            Menu
        </button>
        <div  *ngIf="loginService.loggedIn" class="login-as">Authentifié en tant que : {{loginService.user.firstName}}  {{loginService.user.lastName}}
          <!-- <img class="img-fb-photo" mat-card-image [src]="loginService.user.photoUrl" alt="Facebook Photo"> -->
        </div>

        <app-accueil *ngIf="accueilIsOn"
            (evClicLogin)="eventHandler($event)"
            [loginMenuIsOn]=loginMenuIsOn>
        </app-accueil>

        <!-- Bonne list de card en fonction de la list cuisine, salle bain, perso, etc -->
        <app-card-container
            (reloadCustomList)="eventHandler($event)"
            [listCard]="listCard"
            [avatar]="avatar"
            [cardType] = "cardType"
            *ngIf="cardIsOn"
            >
        </app-card-container>

        <app-login *ngIf="loginMenuIsOn"
          (evLogin)="eventHandler($event)">
        </app-login>

      <!-- <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
      <p>Events:</p>
      <div class="example-events">
        <div *ngFor="let e of events">{{e}}</div>
      </div> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
