

.container {
    height: 100%;
  }

// .example-full-width {
//   width: 100%;
// }

.espace{
  padding:30px;
}
.h4-spacer{
  margin-top: 0px;
}

.fbsvg{
  width:60px;
  height: 60px;
  margin-left: 30px;
}

.fbsvg:hover{
    fill:#4267B2;
}


.img-fb-photo{
  width:auto;
  margin-left: 30px;
}


#input-password{
  margin-right: 15px;
  width: 130px;
}

