<!--
<p>Authentifiez-vous avec FaceBook!</p>

<button (click)="onClicFaceBookIcon()">
  <svg class="fbsvg" width="40" height="40" viewBox="0 0 24 24">
      <path d="M22.675 0h-21.35c-.732 0-1.325.593-1.325 1.325v21.351c0 .731.593 1.324 1.325 1.324h11.495v-9.294h-3.128v-3.622h3.128v-2.671c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12v9.293h6.116c.73 0 1.323-.593 1.323-1.325v-21.35c0-.732-.593-1.325-1.325-1.325z"/>
  </svg>
</button>

<div class='espace'>
</div>


<div>
  <div>
      <mat-form-field>
        <textarea
          [(ngModel)]="user.name"
          [ngModelOptions]="{standalone: true}"
          matInput
          placeholder="Saisir votre nom complet">
        </textarea>
      </mat-form-field>
    </div>
    <button class='but-orange' (click)='onClickLogin()' mat-raised-button>Authentifiez-vous</button>
      <button [disabled]="isLogin" class='but-save' (click)='onClickLogin()' mat-raised-button>Authentifiez-vous</button>
</div> -->


<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h3><span *ngIf="loggedIn===false">Authentifiez-vous!</span> <span *ngIf="loggedIn===true">Bienvenue {{user.firstName}} {{user.lastName}}, </span> </h3></mat-card-title>
      <mat-card-subtitle>
        <button type="button" (click)="signInWithFB()" *ngIf="loggedIn===false" mat-flat-button color="primary">Authentifiez vous avec Facebook</button>
        <button type="button" (click)="signOut()" *ngIf="loggedIn===true" mat-flat-button color="primary">Déconnexion Facebook</button>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card" *ngIf="loggedIn===true">
    <mat-card-header>
      <mat-card-title><h4 class='h4-spacer'>Votre profile Facebook :</h4></mat-card-title>
      <mat-card-subtitle>Nom complet: {{user.firstName}} {{user.lastName}}</mat-card-subtitle>
    </mat-card-header>
    <img class="img-fb-photo" mat-card-image [src]="user.photoUrl" alt="Facebook Photo">
    <!-- <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </mat-card-content> -->
    <div class='margin-left'>
      <button
        class='but-orange'
        mat-raised-button
        (click)="onClickToggleToCustomList()">
        Voir ma liste
      </button>
    </div>

  </mat-card>
</div>

<p></p>

<mat-checkbox *ngIf= "!loginService.loggedAsAdmin" (click)="onCheckManageApp()">S'authentifier en tant qu'administrateur</mat-checkbox>
<button
  *ngIf= "loginService.loggedAsAdmin"
  class='but-orange'
  mat-raised-button
  (click)="onCheckLogOutAsAdmin()">
   Déconnexion administrateur
</button>
<!-- <mat-checkbox  *ngIf= "loginService.loggedAsAdmin" (click)="onCheckLogOutAsAdmin()">Se deconnecter en tant qu'administrateur</mat-checkbox> -->

<div></div>
<div class='password' *ngIf="passIsActive">
  Saisir le mot de passe
  <input [(ngModel)]="passwordValue"
    id='input-password'>

  <button
   class='but-orange'
    mat-raised-button
    (click)="onClickValidatePass()">
    authentifier
</button>
</div>

<button
  class='but-orange'
  mat-raised-button
  (click)="onClicktestAuthAsChose()">
  Test Authentifier comme chose bine
</button>




<!--
<div>
  <div>
      <mat-form-field>
        <textarea
          [(ngModel)]="user2.name"
          [ngModelOptions]="{standalone: true}"
          matInput
          placeholder="Saisir votre nom complet">
        </textarea>
      </mat-form-field>
    </div>
    <button class='but-orange' (click)='onClickLogin()' mat-raised-button>Authentifiez-vous</button>
     <button [disabled]="isLogin" class='but-save' (click)='onClickLogin()' mat-raised-button>Authentifiez-vous</button> -->

