<!-- <p>
<a href="{{path}}" alt = "photo armoire" target="_blank">lien vers photo </a>
</p> -->

<mat-card>
    <mat-card-header>
        <!-- <div mat-card-avatar class="avatar-img"></div> -->
        <mat-icon mat-card-avatar>{{avatar}}</mat-icon>
        <!-- {{index}} -->

       <mat-card-title>{{title}}</mat-card-title>
       <!-- <mat-card-subtitle> sous-titre</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image *ngIf="fileType === 'img' || fileType == null" src= "{{path}}" alt = "photos">

    <p *ngIf="fileType === 'autre'">
      <mat-icon>assignment</mat-icon>
      <a href="{{path}}" alt = "document autre" target="_blank">  Cliquer pour ouvrir le document</a>
    </p>

    <mat-card-content>
       <p>
            {{desc}}
       </p>
    </mat-card-content>
    <div>
        <div class="user-comment" *ngIf= "!loginService.loggedAsAdmin">
<!--
          <button class="but-like" aria-pressed="false"  title="like" (click)="onClickLike()" >
              <mat-icon [ngClass]="{'color_like_but': like=== true,
                                    'color_not_like_but' : like===false }"
                  matSuffix>favorite
              </mat-icon>
          </button> -->

          <form *ngIf="cardType==='custom'" >
            <mat-form-field class="form-field" >
              <mat-label class="monLabel">Saisir un commentaire</mat-label>
              <!-- <input class="input-commentaire" matInput placeholder="Saisir un commentaire" value="commentaires"></input> -->
              <input matInput
                placeholder="Ex. J'adore le comptoir sur cette phtoto"
                [(ngModel)]="comment"
                type="texte"
                name="titleNewImg"
                (focusout)="saveACard()"
              >
              <!--  <textarea class="text-commentaire" matInput placeholder="Ex. J'adore le comptoir sur cette phtoto"  [(ngModel)]="comment"></textarea> -->
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </form>
        </div>

        <button *ngIf="cardType!=='custom'" class='but-orange' mat-raised-button (click)="AddCardToCustomList()">Ajouter à la liste </button>
        <button *ngIf="cardType==='custom'" class='but-orange' mat-raised-button (click)="deleteACard()"> Supprimer de la liste </button>


      </div>
 </mat-card>
