
  mat-form-field{
    width: 100%;
  }

.container-button{
      display:flex;
      justify-content: center;
  }

  .add-form{
    margin-top: 15px;
  }

  .but-gris{
    margin-top: 15px;
    padding: 10px;
    font-size: large;
  }

.but-orange{
    margin:10px;
}
