/* You can add global styles to this file, and also import other style files */


// JM
.but-orange{
    color:black;
    background-color: orange;
    margin-top: 15px !important;
    padding: 10px;
    font-size: large;
  }

  .but-orange:hover{
    color:white;
    background-color: orangered;
  }

.custom-snackbar{
  color:orange;
  width: auto;
  max-width: 100%;
  min-width: 0;
  margin: 24px;
  justify-content: center;
  display:flex !important;

}

// JM fin

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
